$text-color: #000000;

$bgColor1: #ffffff;
$bgColor2: rgb(227, 227, 227);
$bgColor3: rgb(237, 235, 235);
$bgColor--dark: #272735;
$highlightColor--1: rgb(231, 97, 20);
$highlightColor--2: #d81ae5;
$highlightColor--3: #b93feb;
$errorColor--bright: red;
$confirmationColor: rgb(145, 231, 151);
$confirmationColor--dark: green;

$textInputHeight--default: 60px;
$textInputHeight--tall: 100px;

$iconColor: rgb(255, 255, 255);
$iconColor--dark: black;

$lineMargins: 5px 0px;

$mainSectionsPadding: 0rem 0.7rem;

$minWidthMobile: 320px;
$maxWidthMobile: 480px;
$breakPointMobile: 380px;

$sectionBorderRadius: 1rem;
